.reading-trainer__results {
    text-align: center;
    margin-top: 100px;
    .reading-trainer__mark {
        font-weight: bold;
        font-size: 32px;
        &.good {
            color: greenyellow;
        }
        &.bad {
            color: tomato;
        }
    }
}