.reading-trainer__controls {
    position: absolute;
    right: 0px;
    top: -51px;
    z-index: 1;
    button {
        width: 100px;
        height: 70px;
        border-radius: 10px 10px 0 0;
        background-color: #606478;
        color: seashell;
        font-weight: bold;
        font-size: 18px;
        border: none;
        cursor: pointer;
        transition: transform .3s, background-color .3s;
        &.reset {
            width: 120px;
        }
        &:active {
            background-color: #393d51;
            transform: translateY(-20px);
            outline: none;
        }
    }
}