.reading-trainer__sidenotes {
    font-size: 24px;
    width: 30%;
    background-color: #DECCCA;
    box-sizing: border-box;
    padding: 10px 5px;
    border-radius: 10px 0 0 10px;
    box-shadow: -4px 1px 10px -2px rgba(0, 0, 0, 0.5);
    z-index: 5;
}